<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
    <script defer src="/js/index.js"></script>
</head>
<body>


    <form  class="login-form">
        <input type="text" name="email" value="airmax@gmail.com">
        <input type="text" name="password" value="password1234">
        <button>Log in</button>
    </form>

    <p><%= firstName %></p>


</body>
</html>