<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embeeded Javascript</title>
    <link rel="stylesheet" href="/css/base.css">
    <script defer type="module" src="/js/quiz.js"></script>

</head>
<body>


    

    <nav class="flex__row">
        <div class="logo-div"><h2 class="logo">cartiercrashers</h2></div>

        <div class="nav-links flex__row">
            <a href="#">Services</a>
            <a href="#">About us</a>
            <button  class="cta-btn">Schedule now</button>
        </div>
    </nav>




    <main>
        <form class="quiz">
            <div class="form-control">

                <p class="question">In your opinion, which brand is overrated? </p>

                <p class="option option-field">Begin</p>
                <p class="option option-field">Begin</p>
                <p class="option option-field">Begin</p>
                <p class="option option-field">Begin</p>
            </div>


            <button type="button" class="sec-btn">Next</button>
        </form>
    </main>


</body>
</html>