<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script defer type="module" src="/js/index.js"></script> -->
</head>
<body>

    <nav>
        <h3 class="logo">healthadvice</h3>

        <div class="nav-links">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">About</a>
            <a href="#" class="nav-link cta-link" >Login</a>
        </div>
    </nav>




    <main>
        <section class="headline">

            <p class="cta-header">Create your account with us</p>



            <p class="cta-text">Alread have an account? <a class="help" href="/login">Click here to log into your account.</a><br>See the latest updates and information tailored to your current status</p>

            <form  class="login-form">
                <div class="form-section">
                    <label for="firstName">First name</label>
                    <input type="text" name="firstName" value="William" id="email">

                </div>
                
                <div class="form-section">
                    <label for="lastName">Last name</label>
                    <input type="text" name="lastName" value="Morgan" id="lastName">

                </div>



                <div class="form-section">
                    <label for="email">Email</label>
                    <input type="email" name="email" value="williamgmorgan@gmail" id="email">

                </div>


                <div class="form-section">
                    <label for="pasword">Password</label>
                    <input type="password" name="password" value="myMongo3210">

                </div>

                <button type="submit" class="cta-btn">Create Account</button>
            </form>

        </section>
    </main>



   
    
<!-- 
    <form novalidate>
        <input type="text" name="firstName" value="William">
        <input type="text" name="lastName" value="Morgan">
        <input type="text" name="email" value="williamgmorgan@gmail.com">
        <input type="text" name="password" value="myMongo3210">

        <button>Submit</button>
    </form> -->
</body>
</html>