<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script defer type="module" src="/js/index.js"></script> -->
</head>
<body>


    <h1>Home Page</h1>
   
    

    <form novalidate>
        <input type="text" name="firstName" value="William">
        <input type="text" name="lastName" value="Morgan">
        <input type="text" name="email" value="williamgmorgan@gmail.com">
        <input type="text" name="password" value="myMongo3210">

        <button>Submit</button>
    </form>
</body>
</html>