@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    position: relative;
}

a, button, input {
    all: unset;
    padding: .6rem;
}

button, input, .cta-link {
    border: 1px solid black;
    border-radius: .4rem;
}

.cta-btn, .cta-link {
    color: white;
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    transition: all ease-in 0.5;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    position: sticky;
    top: 0;
    align-items: center;
    border-bottom: 1px solid rgb(187, 186, 186);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: .8rem;
}

nav .logo {
    align-self: center;
}






main {
    margin-top: 5%;
}

.cta-header{
    font-size: 3rem;
    font-weight: 700;

}

.headline {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: space-between;
    /* width: fit-content; */
    margin: 0 auto;
    align-items: center;
}

.cta-text {
    line-height: 150%;
    font-size: 1.25rem;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: relative;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    position: relative;
    width: 90%;
    position: relative;
}

.help {
    color: rgb(49, 49, 219);
    text-decoration: underline;
    font-size: .99rem;
    margin-top: -5%;
}


.cta-text .help {
    font-size: inherit;
    padding: 0;
}

a:hover {
    cursor: pointer;
}

.cta-btn:hover, .cta-link:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.968);
    transition: all ease-in 0.5s;
    cursor: crosshair
}


form input {
    width: 100%;
}

.alert {
    width: fit-content;
    padding: .8rem;
    background: linear-gradient(to bottom right, rgb(110, 185, 163), rgb(135, 235, 205));
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    border-radius: .6rem;
    transition: all ease 0.5s;
}


.active-alert {
    top: 12%;
    transition: all ease .63s;
}

.y {
    padding: .6rem;
}

.err {
    text-align: left;
    color: rgb(228, 6, 6);
    font-weight: light;
    font-size: 1.22rem;
    /* border: 1px solid grey; */
    padding: .3rem;
    top: -5%;
    left: -1%;
    z-index: -1
}